* {
    max-width: 100%;
}
body{
background-color: bisque;
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
 overflow-x: hidden;
}

.container{
background-color: rgb(7, 78, 118);
color: aliceblue;
padding: 20px;
border-radius: 10px;
}

.currency-container{
padding: 10px;
display: flex;
justify-content: space-between;

}

.currency-container select{
padding: 10px;

}

.currency-container input{
border: 0;
background: transparent;
font-size: 25px;
text-align: right;
color: aliceblue;

}

.exchange-rate{
font-size: 16;
font-weight: 600;

}

select:focus,
input:focus{
outline: 0;


}
.design {
    overflow: hidden;
}
@media (max-width: 768px) {
    .circle:nth-child(1){
        width: 20rem;
    }
    .circle:nth-child(2){
        width: 14rem;
    }
}
